.link-list {
    padding: 20px; /* Add padding to create space */
  }
/* Style the list container (div) */
.link-list ul {
  list-style: none;
  padding: 0;
}

/* Style the list items (li) */
.link-list ul li a {
  text-decoration: none !important; /* Remove underlines */
  color: white !important; /* Set font color to white */
  transition: color 0.3s; /* Smooth color transition on hover */
}

/* Change font color to black on hover */
.link-list ul li a:hover {
  color: black !important;
}

.sort-buttons button {
    margin-right: 10px;
  }

  .sort-buttons {
      text-align: center;
    }

    .sort-buttons button {
      display: inline-block;
      width: fit-content;
      margin: 2px;
      padding: 3px 8px;
      background: #f00;
      color: #fff;
      border: none;
      border-radius: 2px;
      cursor: pointer;
      font-family: 'Exo 2', sans-serif;
      font-weight: bold;
      text-decoration: none;
      transition: background-color 0.3s, color 0.3s;
    }

    .sort-buttons button:hover {
      background: #000;
    }
