.button-container a:hover img {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.image-container {
    text-align: center;
}

.image-link {
    display: inline-block;
    text-decoration: none;
    color: white;
}

.shaking-image {
    margin-top: 5px;
    font-size: 1.2rem;
    color: white;
    animation: shake 2s infinite;
}

.join-text {
    font-size: 1.2rem;
    color: white;
}

@keyframes shake {
    0%, 100% {
        transform: translate(0, 0);
    }
    10% {
        transform: translate(-5px, -5px);
    }
    20% {
        transform: translate(5px, -5px);
    }
    30% {
        transform: translate(-5px, 5px);
    }
    40% {
        transform: translate(5px, 5px);
    }
    50% {
        transform: translate(-5px, -5px);
    }
    60% {
        transform: translate(5px, -5px);
    }
    70% {
        transform: translate(-5px, 5px);
    }
    80% {
        transform: translate(5px, 5px);
    }
    90% {
        transform: translate(-5px, -5px);
    }
}

.watch-now-butt {
    margin-top: 10px;
    display: inline-block;
    padding: 12px 30px;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    font-family: 'Exo 2', sans-serif;
    font-size: 1.2rem;
    border: 2px solid #ffffff;
    border-radius: 25px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, background 0.3s, box-shadow 0.3s;
}

.watch-now-butt:hover {
    background: linear-gradient(45deg, #B1B1B1, #000000);
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.social-icons-container {
  text-align: center;
  margin-top: 1px;
}

.social-icon {
  display: inline-block;
  margin: 0 5px;
  position: relative;
  transition: transform 0.2s ease-in-out;
}

.social-icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-47%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  z-index: -1;
  transition: background-color 0.2s ease-in-out;
}

.social-icon img {
  width: 60px;
  height: auto;
}

.social-icon:hover::before {
  background-color: rgba(0, 0, 0, 0.5);
}

.social-icon:hover {
  transform: scale(1.1);
}


.tok {
  margin-top: 1px;
    text-align: center;
}
