.button-container a:hover img {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.image-container {
    text-align: center;
}

.image-link {
    display: inline-block;
    text-decoration: none;
    color: white;
}

.shaking-image {
    margin-top: 5px;
    font-size: 1.2rem;
    color: white;
    animation: shake 2s infinite;
}

.join-text {
    font-size: 1.2rem;
    color: white;
}

@keyframes shake {
    0%, 100% {
        transform: translate(0, 0);
    }
    10% {
        transform: translate(-5px, -5px);
    }
    20% {
        transform: translate(5px, -5px);
    }
    30% {
        transform: translate(-5px, 5px);
    }
    40% {
        transform: translate(5px, 5px);
    }
    50% {
        transform: translate(-5px, -5px);
    }
    60% {
        transform: translate(5px, -5px);
    }
    70% {
        transform: translate(-5px, 5px);
    }
    80% {
        transform: translate(5px, 5px);
    }
    90% {
        transform: translate(-5px, -5px);
    }
}

.watch-now-butt {
    margin-top: 10px;
    display: inline-block;
    padding: 10px 24px; /* Reduced padding for a smaller size */
    background-color: #1a1a1a; /* Dark background for a modern look */
    color: #ffffff; /* White text for contrast */
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem; /* Reduced font size for a sleeker appearance */
    border: 2px solid rgba(255, 255, 255, 0.5); /* Semi-transparent white border */
    border-radius: 30px; /* Slightly more rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Softer shadow for a futuristic effect */
    transition: transform 0.3s, background 0.3s, box-shadow 0.3s;
}

.watch-now-butt:hover {
    background: linear-gradient(45deg, rgba(177, 177, 177, 0.8), #1a1a1a); /* Slightly transparent gradient on hover */
    transform: scale(1.03); /* Slightly smaller scale for a subtle hover effect */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7); /* Darker shadow on hover */
}


.social-icons-container {
  text-align: center;
  margin-top: 1px;
}

.social-icon {
  display: inline-block;
  margin: 0 5px;
  position: relative;
  transition: transform 0.2s ease-in-out;
}

.social-icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-47%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  z-index: -1;
  transition: background-color 0.2s ease-in-out;
}

.social-icon img {
  width: 60px;
  height: auto;
}

.social-icon:hover::before {
  background-color: rgba(0, 0, 0, 0.5);
}

.social-icon:hover {
  transform: scale(1.1);
}


.tok {
  margin-top: 1px;
    text-align: center;
}
