.tedda {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.tedda > * {
    max-width: 100%;
    flex-shrink: 1;
}

body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, select, button {
    background-color: #1f1f1f;
    color: #ffffff;
    border: 1px solid #444444;
    padding: 10px;
    border-radius: 4px;
    margin: 5px 0;
    width: 350px;
}

input:focus, select:focus, button:focus {
    outline: none;
    border-color: #55b7b3;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 80%;
}

li {
    margin: 10px 0;
    background-color: #1f1f1f;
    border: 1px solid #444444;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    animation: popIn 0.5s ease-in-out forwards;
}

@keyframes popIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1.05);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

li:hover {
    background-color: #333333;
    transform: scale(1.05) rotate(3deg);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    animation: shake 0.5s forwards; /* Adding shake animation on hover */
}

@keyframes shake {
    0% {
        transform: scale(1.05) rotate(3deg);
    }
    25% {
        transform: scale(1.1) rotate(5deg);
    }
    50% {
        transform: scale(1.05) rotate(3deg);
    }
    75% {
        transform: scale(1.1) rotate(1deg);
    }
    100% {
        transform: scale(1.05) rotate(3deg);
    }
}

a {
    color: #cccccc;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

#pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

button {
    background-color: #444444;
    color: #ffffff;
    cursor: pointer;
    margin: 0 5px;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    width: auto;
    min-width: 40px;
    transition: transform 0.2s;
}

button:hover {
    background-color: #555555;
    transform: translateY(-3px);
}

button.active {
    background-color: #55b7b3;
    color: #ffffff;
    font-weight: bold;
}

select {
    background-color: #1f1f1f;
    color: #ffffff;
    border: 1px solid #444444;
    padding: 10px;
    border-radius: 4px;
    width: 200px;
}

select:focus {
    border-color: #55b7b3;
    outline: none;
}
